<div class="row container">
    <h4 class="flat-text-header" style="text-align: center;" v-if="!user._id">{{ $t("register.title") }}</h4>
    <div style="text-align: center;"><p>{{error| json}}</p></div>
    <form class="col s12" v-on:submit.prevent="registerUser()">
        <div class="row card-panel">
            <div class="row demo">
                <md-input
                        :value.sync="user.username"
                        class="col s12 m6 l6"
                        :success-msg="formValidMsg.user.success"
                        :error-msg="formValidMsg.user.error"
                        :valid="validUser"
                >
                    {{ $t("register.username") }}
                </md-input>
                <md-input name="last_name"
                          :value.sync="user.email"
                          class="col s12 m6 l6"
                          :success-msg="formValidMsg.email.success"
                          :error-msg="formValidMsg.email.error"
                          :valid="validEmail">
                    {{ $t("register.email") }}
                </md-input>
            </div>

            <div class="row demo" v-if="user._id">
                <div class="col s4">
                    <md-checkbox :value.sync="editPassword">
                        Изменить пароль
                    </md-checkbox>
                </div>
            </div>
            <div class="row demo" v-if="editPassword">
                <md-input type="password" class="col s12 m6 l6" :value.sync="user.password"
                          :success-msg="formValidMsg.password.success" :error-msg="formValidMsg.password.error"
                          :valid="validPassword">
                    {{ $t("register.password") }}
                </md-input>
                <md-input type="password" class="col s12 m6 l6" :value.sync="user.passwordRepit"
                          :success-msg="formValidMsg.passwordRepit.success"
                          :error-msg="formValidMsg.passwordRepit.error" :valid="repitPasswordValidate">
                    {{ $t("register.passwordRepit") }}
                </md-input>
            </div>

        </div>

        <md-button class="waves-effect waves-light col s6 m6 l6" @click="registerUser()">
            <md-icon left>check</md-icon>
            {{ [user._id ? 'Сохранить' : $t("register.insert")] }}
        </md-button>
        <md-button class="waves-effect waves-light col s6 m6 l6 cancel" v-link="{name: user._id?'user':'home'}">
            {{ $t("register.cancel") }}
        </md-button>
    </form>
    <style scoped>
        .input-field label {
            right: 10px !important;
            left: 10px;
            width: 100%;
        }
        .cancel{
          background: #666
        }
        input:not([type]) + label:after, input[type=text] + label:after, input[type=password] + label:after, input[type=email] + label:after, input[type=url] + label:after, input[type=time] + label:after, input[type=date] + label:after, input[type=datetime-local] + label:after, input[type=tel] + label:after, input[type=number] + label:after, input[type=search] + label:after, textarea.materialize-textarea + label:after {
            display: block;
            content: "";
            position: absolute;
            top: 57px;
            opacity: 0;
            transition: .2s opacity ease-out, .2s color ease-out;
        }
    </style>
</div>
